.main {
	width: 100%;
	height: 100vh;
	background-image: url(./assets//Background.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

.mainCon {
	display: flex;
	justify-content: center;
}

.wrapper {
	width: 1080px;
	min-height: 100vh;
	/* background-color: grey; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	gap: 2.8rem;
}

.contentCon {
	width: 500px;
	padding: 0 1rem;
	/* background: violet; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-items: flex-start;
}

.imageCon {
	width: 490px;
	height: 490px;
	/* background: violet; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.title {
	font-size: min(3rem, 10vw);
	font-weight: 700;
	color: var(--brown);
	line-height: 150%;
}

.spanText {
	color: #7950f2;
	font-size: min(5rem, 18vw);
	font-weight: 900;
}

.titleQoute {
	font-size: 1.5rem;
	font-weight: 500;
	font-style: italic;
	color: var(--brown);
	margin-top: 2rem;
}

.googleButton {
	margin-top: 5rem;
	background: rgb(255, 255, 255);
	padding: 0.8rem 5rem;
	color: grey;
	border: 1px solid black;
	border-radius: 4rem;
	font-size: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 5px;
}

.googleButton:hover {
	background: rgb(222, 222, 222);
}

@media (max-width: 1054px) {
	.imageCon {
		display: none;
	}

	.contentCon {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.title {
		text-align: center;
	}

	.user {
		text-align: center;
	}

	.titleQoute {
		font-size: 1.5rem;
		text-align: center;
	}
}

@media (max-width: 436px) {
	.title {
		font-size: 3.4rem;
		font-weight: 700;
		color: var(--brown);
	}

	.titleQoute {
		font-size: 1.5rem;
		text-align: center;
	}

	.googleButton {
		padding: 0.6rem 3rem;
		font-size: 0.8rem;
	}
}

@media (max-width: 371px) {
	.title {
		font-size: 3rem;
		font-weight: 700;
		color: var(--brown);
	}
}

@media (max-width: 331px) {
	.title {
		font-size: 2.7rem;
		font-weight: 700;
		color: var(--brown);
	}
}