.root {
	display: grid;
	grid-template-columns: 350px 1fr;
	grid-template-rows: 100vh;
}

.root aside,
.root main {
	padding: 1rem;
}

.root main section {
	height: 100%;
}

.navButton > div {
	justify-content: flex-start !important;
}
