.main {
    width: 100%;
    height: 100vh;
    background-image: url(./assets/BACKG.svg);
    display: flex;
    justify-content: center;
}

.Container {
    width: 1080px;
    /* background: red; */
    height: auto;
    /* padding: 1rem; */
}

.titleContainer {
    /* background: yellow; */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.formContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}

.forms {
    width: 490px;
    /* background: yellow; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* padding: 1rem; */
}

.labelNameCon {
    display: flex;
    flex-direction: column;
}

.labelEmailCon {
    display: flex;
    flex-direction: column;
}

.labelMessageCon {
    display: flex;
    flex-direction: column;
}

.userName {
    padding: 1rem;
    border: 1px solid;
    border-radius: 5px;
}

.userEmail {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid;
}

.textArea {
    padding: 1rem;
    border-radius: 5px;
}

.buttonContainer button {
    padding: 1rem 3rem;
    background: var(--yellow);
    border: 1px solid;
    border-radius: 5px;
}

.instructions {
    background: rgb(242, 255, 0);
    width: 490px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2rem;
    text-align: justify;
}

.instructions ul li {
    list-style-image: url(./assets/FootprintSVG.svg);
}