.main {
    width: 100%;
    height: 150vh;
    background: #E2F6FF;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1080px;
    height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}



.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 2rem;
    max-width: 1080px;
    margin: auto;
}

.card {
    width: 450px;
    height: 300px;
    background-color: #E3E8F0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--brown);
    border-radius: 1rem;
    padding: .4rem;
}

.titleLogo {
    border-radius: 50%;
}

.titleCon {
    width: 100%;
    display: flex;
    /* background: red; */
    align-items: center;
    padding: 1rem;
}

.titleTextCon {
    width: 100%;
    margin-left: 1rem;
}

.titleText {
    font-size: 2rem;
    font-family: Nunito;
    font-weight: 700;
    color: var(--brown);
}

.paragraph {
    width: 100%;
    padding: 0 2rem;
}

.paragraph p {
    font-size: 1.1rem;
    color: var(--brown);
    font-weight: 400;
}

.getService {
    width: 100%;
    height: 70px;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: end;
}

.getSeriveButton {
    color: var(--brown);
    border: none;
    background: none;
    padding: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.getSeriveButton:hover {
    color: #c97207;
}













































/* 
.titleCon {
    background-color: rgb(249, 118, 118);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0;
}

.titleH6 {
    color: var(--brown);
    font-size: 1rem;
    font-family: 'Nunito';
    font-weight: bold;
}

.titleH1 {
    margin-top: 1rem;
    color: var(--brown);
    font-size: 3rem;
    font-family: 'Nunito';
    font-weight: bold;
}

.spanText {
    font-family: 'Nunito';
    color: var(--violet);
}

.cardsCon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
}

.card {
    width: 500px;
    height: 400px;
    background: red;
} */